<% include ../layout/header %>
    <h3>
        Курс:
        <b>
            <%= project.title %>
        </b>
    </h3>
    <h4>
        Урок:
        <b>
            <%= lesson.title %>
        </b>
    </h4>
    <p>
        <a href="/">На главную</a> &nbsp &nbsp
        <a href="/projects/<%= project.url %>">К курсу</a>
    </p>
    <p>
        <% if(user.id && user.login && user.id == project.owner) { %>
            <a href="/create/<%= project.url %>">
                <button class="btn btn-primary add-new-project">Редактировать</button>
            </a>
            <% } %>
    </p>
    <div class="modal-body">
        <div class="first-column">
            <p>
                <strong>Номер: </strong>
                <%= lesson.number %>
            </p>
            <p>
                <strong>Описание: </strong>
                <%= lesson.discripiton %>
            </p>
            <p>
                <strong>Длительность: </strong>
                <%= lesson.duration %>
            </p>
            <p>
                <strong>Создан: </strong>
                <%= lesson.createdAt %>
            </p>
            <ul>
                <% tasks.forEach(function(task) { %>
                    <li>
                        <h4>
                            <b>
                                <a href="/projects/<%= project.url %>/<%= lesson.url %>/tasks/<%= task.url %>">
                                    <%= task.number %>
                                </a>
                            </b>
                        </h4>
                        <p>
                            <strong>Инструкция: </strong>
                            <%= task.instructions %>
                        </p>
                        <p>
                            <strong>Текст: </strong>
                            <%= task.text %>
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="second-column">
            <% include ../layout/sidebar %>
        </div>
    </div>

    <% include ../layout/footer %>