<% include ../layout/header %>
    <h3>
        Курс:
        <b>
            <%= title %>
        </b>
    </h3>
    <h4>
        Урок:
        <b>
            <%= lesson.title %>
        </b>
    </h4>

    <p>
        <a href="/">На главную</a> &nbsp &nbsp
        <a href="/create/<%= project.url %>">К курсу</a> &nbsp &nbsp
        <a href="/create/<%= project.url %>/lessons/<%= lesson.url %>">К уроку</a>
    </p>
    <h4>Добавить новую задачу</h4>

    <div class="modal-body">
        <form method="post">
            <div class="form-group">
                <label for="idOfTask">Введите номер задания:</label>
                <input type="number" name="number" class="form-control" id="idOfTask">
            </div>
            <div class="form-group">
                <label for="instructionsOfTask">Введите инструкции:</label>
                <textarea class="form-control" name="instructions" id="instructionsOfTask" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="textOfTask">Введите текст:</label>
                <textarea class="form-control" name="text" id="textOfTask" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="soundFile">Прикрепите звуковой файл:</label>
                <input type="file" class="form-control-file" id="soundFile" name="sound">
            </div>
            <div class="form-group">
                <label for="pitchFile">Прикрепите файл с пичем:</label>
                <input type="file" class="form-control-file" id="pitchFile" name="pitch">
            </div>
            <div class="form-group">
                <label for="textMarkupFile">Прикрепите файл с разметкой текста:</label>
                <input type="file" class="form-control-file" id="textMarkupFile" name="textMarkup">
            </div>
            <button type="submit" class="btn btn-primary">Создать урок</button>
        </form>
    </div>

    <% include ../layout/footer %>