<% include ../layout/header %>
    <h2>
        <%= title %>
    </h2>
    <h3>
        Курс:
        <b>
            <%= project.title %>
        </b>
    </h3>
    <p>
        <a href="/">На главную</a>
    </p>
    <div class="modal-body">
        <p>
            <strong>Описание: </strong>
            <%= project.discripiton %>
        </p>
        <p>
            <strong>Сложность: </strong>
            <%= project.complexity %>
        </p>
        <p>
            <strong>Категория: </strong>
            <%= project.category %>
        </p>
        <p>
            <strong>Авторы: </strong>
            <%= project.authors %>
        </p>
        <p>
            <strong>Создан: </strong>
            <%= project.createdAt %>
        </p>
    </div>
    <p>
        <a href="/create/<%= project.url %>/create-lesson">
            <button class="btn btn-primary">Создать урок</button>
        </a>
    </p>
    <ul>
        <% lessons.forEach(function(lesson) { %>
            <li>
                <h4>
                    <b>
                        <a href="/create/<%= project.url %>/lessons/<%= lesson.url %>">
                            <%= lesson.title %>
                        </a>
                    </b>
                </h4>
                <p>
                    <strong>Краткое описание: </strong>
                    <%= lesson.discripiton.substring(0, 100)%>...
                </p>
            </li>
            <% }); %>
    </ul>
    <% include ../layout/footer %>