<% include layout/header %>
    <h1>
        <b>
            <%= project.title %>
        </b>
    </h1>
    <p>
        <a href="/">На главную</a>
    </p>
    <p>
        <% if(user.id && user.login && user.id == project.owner) { %>
            <a href="/create/<%= project.url %>">
                <button class="btn btn-primary add-new-project">Редактировать</button>
            </a>
            <% } %>
    </p>
    <div class="modal-body">
        <div class="first-column">
            <p>
                <strong>Описание: </strong>
                <%= project.discripiton %>
            </p>
            <p>
                <strong>Сложность: </strong>
                <%= project.complexity %>
            </p>
            <p>
                <strong>Категория: </strong>
                <%= project.category %>
            </p>
            <p>
                <strong>Авторы: </strong>
                <%= project.authors %>
            </p>
            <p>
                <strong>Создан: </strong>
                <%= project.createdAt %>
            </p>
            <ul>
                <% lessons.forEach(function(lesson) { %>
                    <li>
                        <h4>
                            <b>
                                <a href="projects/<%= project.url %>">
                                    <%= lesson.title %>
                                </a>
                            </b>
                        </h4>
                        <p>
                            <strong>Краткое описание: </strong>
                            <%= lesson.discripiton.substring(0, 100)%>...
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="second-column">
            <% include layout/sidebar %>
        </div>
    </div>

    <% include layout/footer %>