<% include ../layout/header %>
    <h2>
        <%= title %>
    </h2>
    <h3>
        Курс:
        <b>
            <%= project.title %>
        </b>
    </h3>
    <h4>
        Урок:
        <b>
            <%= lesson.title %>
        </b>
    </h4>
    <p>
        <a href="/">На главную</a> &nbsp &nbsp
        <a href="/create/<%= project.url %>">К курсу</a> &nbsp &nbsp
        <a href="/create/<%= project.url %>/lessons/<%= lesson.url %>">К уроку</a>
    </p>
    <div class="modal-body">
        <form method="post">
            <h4>
                <div class="form-group">
                    <label for="idOfTask"><strong>Задание:</strong></label>
                    <input type="number" name="number" class="form-control" id="idOfTask" value="<%= task.number %>">
                </div>
            </h4>
            <div class="form-group">
                <label for="instructionsOfTask"><strong>Инструкция:</strong></label>
                <textarea class="form-control" name="instructions" id="instructionsOfTask" rows="1"><%= task.instructions %></textarea>
            </div>
            <div class="form-group">
                <label for="textOfTask"><strong>Текст:</strong></label>
                <textarea class="form-control" name="text" id="textOfTask" rows="1"><%= task.text %></textarea>
            </div>
            <p>
                <strong>Создан: </strong>
                <%= task.createdAt %>
            </p>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <% include ../layout/footer %>